*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:wheat;
    background-attachment: fixed;
    padding: 50px;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
}
header .logo{
    color: rebeccapurple;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin: 0 10px;
}
.content p{
    font-size: 1.3em;
    color: rebeccapurple;
}
.content a{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: rebeccapurple;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.imgBx img{
    max-width: 700px;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(100px);
    }
}
header ul li a{
    text-decoration: none;
    font-weight: 700;
    color: rebeccapurple;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
header ul li a.active{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.content{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    padding: 50px;
    padding-left: 150px;
}
.content h2{
    font-size: 2.5em;
    color: rebeccapurple;
    margin-bottom: 10px;
}
.sci{
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.sci li{
    list-style:lower-latin;
}
.sci li a{
text-decoration: none;
width: 50px;
height: 50px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin: 5px 0;
font-size: 20px;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.sci li a:hover{
    color: #fff;
    background: rebeccapurple;
}
.sci li a.fab{
    transform: scale(0.6) rotate(360px);
}
.copyright{
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: rebeccapurple;
}